#!jinja2
[cylc]
    UTC mode = True
[scheduling]
    [[dependencies]]
        graph = """hello-make => hello-make-bin => hello-run"""

[runtime]
    [[root]]
        [[[event hooks]]]
            failed handler = rose suite-hook --shutdown
    [[hello-make]]
        script = rose task-run --app-key=make --new
    [[hello-make-bin]]
        script = rose task-run --app-key=make
        [[[remote]]]
            host = {{HOST}}
    [[hello-run]]
        script = rose task-run --app-key=run --path=share/hello-make/build/bin
        [[[remote]]]
            host = {{HOST}}
