#!jinja2
[cylc]
    UTC mode=True
    abort if any task fails=True
    [[events]]
        abort on timeout=True
        timeout=PT2M
[scheduling]
    initial cycle point=20130101T00Z
    final cycle point=20130101T12Z
    [[dependencies]]
        [[[T00, T12]]]
            graph="""t1[-PT12H]=>t1"""
[runtime]
    [[t1]]
        script=rose task-run {{ROSE_TASK_RUN_ARGS}}
