[cylc]
    UTC mode = True
    abort if any task fails = True
    [[events]]
        abort on timeout = True
        timeout = PT1M
[scheduling]
    [[dependencies]]
        graph = cutoff
[runtime]
    [[cutoff]]
        script = rose task-run
        [[[job]]]
            execution retry delays = 2*PT1S
