#!jinja2
[cylc]
    UTC mode=True
    [[events]]
        abort on timeout=True
        timeout=PT2M
[scheduling]
    [[dependencies]]
        graph=my_task_1

[runtime]
    [[root]]
        script=false
    [[my_task_1]]
