#!jinja2
[cylc]
    UTC mode=True
    abort if any task fails = True
    [[event hooks]]
        abort on timeout = True
        timeout=PT2M

[scheduling]
    initial cycle point=20130101T0000Z
    final cycle point=20130102T0000Z
    [[dependencies]]
        [[[PT6H]]]
            graph=hello[-PT6H]=>hello

[runtime]
    [[root]]
        script=rose task-run
    [[hello]]
