#!jinja2
[cylc]
    UTC mode=True
    [[event hooks]]
        timeout handler=rose suite-hook --shutdown
        timeout=PT2M

[scheduling]
    initial cycle point=20130101T0000Z
    final cycle point=20130102T0000Z
    [[dependencies]]
        [[[PT6H]]]
            graph=hello[-PT6H]=>hello

[runtime]
    [[root]]
        command scripting=rose task-run
        [[[event hooks]]]
            succeeded handler=rose suite-hook
            failed handler=rose suite-hook --shutdown
            submission failed handler=rose suite-hook --shutdown
    [[hello]]
