#!jinja2
[cylc]
    UTC mode = True
    [[event hooks]]
        timeout handler = rose suite-hook --shutdown
        timeout = PT1M
[scheduling]
    initial cycle point = 2020
    final cycle point = 2021
    [[dependencies]]
        [[[P1Y]]]
            graph = t1
[runtime]
    [[t1]]
        command scripting = rose task-run
