doc/*
metomi/rosie/lib/html/static/js/bootstrap*
metomi/rosie/lib/html/static/js/dataTables.bootstrap*
metomi/rosie/lib/html/static/js/jquery*
metomi/rosie/lib/html/static/js/livestamp.min.js
metomi/rosie/lib/html/static/js/moment.min.js
