Annette Osprey       <a.osprey@reading.ac.uk>             Annette Osprey       <4313200+aosprey@users.noreply.github.com>
Ben Fitzpatrick      <ben.fitzpatrick@metoffice.gov.uk>   benfitzpatrick       <ben.fitzpatrick@metoffice.gov.uk>
Bruno P. Kinoshita   <bruno.kinoshita@niwa.co.nz>         Bruno P. Kinoshita   <kinow@users.noreply.github.com>
Craig MacLachlan     <craig.maclachlan@metoffice.gov.uk>  Craig MacLachlan     <cs.maclachlan@gmail.com>
Dave Matthews        <david.matthews@metoffice.gov.uk>    dpmatthews           <david.matthews@metoffice.gov.uk>
Dave Matthews        <david.matthews@metoffice.gov.uk>    David Matthews       <david.matthews@metoffice.gov.uk>
Dave Matthews        <david.matthews@metoffice.gov.uk>    David Matthews       <david.matthews@metoffice.gov.uk>
Declan Valters       <declan.valters@metoffice.gov.uk>    Declan Valters       <dvalters@users.noreply.github.com>
Hilary Oliver        <h.oliver@niwa.co.nz>                Hilary James Oliver  <hilary.j.oliver@gmail.com>
Hilary Oliver        <h.oliver@niwa.co.nz>                Hilary Oliver        <hilary.j.oliver@gmail.com>
Hilary Oliver        <h.oliver@niwa.co.nz>                Hilary James Oliver  <h.oliver@niwa.co.nz>
Hilary Oliver        <h.oliver@niwa.co.nz>                Hilary Oliver        <h.oliver@niwa.co.nz>
Joseph Mancell       <joseph.mancell@metoffice.gov.uk>    jmancell             <joseph.mancell@metoffice.gov.uk>
Kerry Day            <kerry.day@metoffice.gov.uk>         Kerry Day            <kaday@users.noreply.github.com>
Kerry Day            <kerry.day@metoffice.gov.uk>         kaday                <kerry.day@metoffice.gov.uk>
Martin Dix           <martin.dix@csiro.au>                MartinDix            <martin.dix@csiro.au>
Matt Pryor           <matt.pryor@metoffice.gov.uk>        Matt Pryor           <mkjpryor@gmail.com>
Matt Pryor           <matt.pryor@metoffice.gov.uk>        matt.pryor           <hadmq@wld008.desktop.frd.metoffice.com>
Matt Shin            <matthew.shin@metoffice.gov.uk>      Matt Shin            <matthewrmshin@yahoo.co.uk>
Matt Shin            <matthew.shin@metoffice.gov.uk>      matthew.shin         <matthew.shin@metoffice.gov.uk>
Matt Shin            <matthew.shin@metoffice.gov.uk>      matthewrmshin        <matthew.shin@metoffice.gov.uk>
Matt Shin            <matthew.shin@metoffice.gov.uk>      matthewrmshin        <matthewrmshin@yahoo.co.uk>
Mel Hall             <37735232+datamel@users.noreply.github.com>
Dave Matthews        <metomi@metoffice.gov.uk>            metofcm              <fcm-team@metoffice.gov.uk>
Oliver Sanders       <oliver.sanders@metoffice.gov.uk>    Oliver sanders       <oliver.sanders@metoffice.gov.uk>
Roddy Sharp          <roddy.sharp@metoffice.gov.uk>       R SHarp              <r-sharp@users.noreply.github.com>
Ronnie Dutta         <61982285+MetRonnie@users.noreply.github.com>
Sadie Bartholomew    <sadie.bartholomew@metoffice.gov.uk> Sadie Bartholomew    <30274190+sadielbartholomew@users.noreply.github.com>
Sadie Bartholomew    <sadie.bartholomew@metoffice.gov.uk> Sadie L. Bartholomew <30274190+sadielbartholomew@users.noreply.github.com>
Steve Wardle         <steven.wardle@metoffice.gov.uk>     steven.wardle        <frswa@eld508.desktop.frd.metoffice.com>
Steve Wardle         <steven.wardle@metoffice.gov.uk>     steven.wardle        <frswa@eld660.desktop.frd.metoffice.com>
Steve Wardle         <steven.wardle@metoffice.gov.uk>     stevewardle          <steven.wardle@metoffice.gov.uk>
Stuart Whitehouse    <stuart.whitehouse@metoffice.gov.uk> scwhitehouse         <stuart.whitehouse@metoffice.gov.uk>
Thomas Coleman       <thomas.coleman@bom.gov.au>          Tom Coleman          <thomas.james.coleman@gmail.com>
Tim Pillinger        <tim.pillinger@metoffice.gov.uk>     wxtim                <tim.pillinger@metoffice.gov.uk>
Tomasz Trzeciak      <tomasz.trzeciak@metoffice.gov.uk>   TomekTrzeciak        <tomasz.trzeciak@metoffice.gov.uk>
