Ben Fitzpatrick      <ben.fitzpatrick@metoffice.gov.uk>   benfitzpatrick      <ben.fitzpatrick@metoffice.gov.uk>
Craig MacLachlan     <craig.maclachlan@metoffice.gov.uk>  Craig MacLachlan    <cs.maclachlan@gmail.com>
David Matthews       <david.matthews@metoffice.gov.uk>    dpmatthews          <david.matthews@metoffice.gov.uk>
Declan Valters       <declan.valters@metoffice.gov.uk>    Declan Valters      <dvalters@users.noreply.github.com>
Hilary James Oliver  <h.oliver@niwa.co.nz>                Hilary James Oliver <hilary.j.oliver@gmail.com>
Joseph Mancell       <joseph.mancell@metoffice.gov.uk>    jmancell            <joseph.mancell@metoffice.gov.uk>
Kerry Day            <kerry.day@metoffice.gov.uk>         kaday               <kerry.day@metoffice.gov.uk>
Kerry Day            <kerry.day@metoffice.gov.uk>         Kerry Day           <kaday@users.noreply.github.com>
Martin Dix           <martin.dix@csiro.au>                MartinDix           <martin.dix@csiro.au>
Matt Pryor           <matt.pryor@metoffice.gov.uk>        matt.pryor          <hadmq@wld008.desktop.frd.metoffice.com>
Matt Pryor           <matt.pryor@metoffice.gov.uk>        Matt Pryor          <mkjpryor@gmail.com>
Matt Shin            <matthew.shin@metoffice.gov.uk>      matthew.shin        <matthew.shin@metoffice.gov.uk>
Matt Shin            <matthew.shin@metoffice.gov.uk>      matthewrmshin       <matthew.shin@metoffice.gov.uk>
Matt Shin            <matthew.shin@metoffice.gov.uk>      matthewrmshin       <matthewrmshin@yahoo.co.uk>
Matt Shin            <matthew.shin@metoffice.gov.uk>      Matt Shin           <matthewrmshin@yahoo.co.uk>
Met Office MISS Team <metomi@metoffice.gov.uk>            metofcm             <fcm-team@metoffice.gov.uk>
Oliver Sanders       <oliver.sanders@metoffice.gov.uk>    Oliver sanders      <oliver.sanders@metoffice.gov.uk>
Roddy Sharp          <roddy.sharp@metoffice.gov.uk>       R SHarp             <r-sharp@users.noreply.github.com>
Steve Wardle         <steven.wardle@metoffice.gov.uk>     steven.wardle       <frswa@eld508.desktop.frd.metoffice.com>
Steve Wardle         <steven.wardle@metoffice.gov.uk>     steven.wardle       <frswa@eld660.desktop.frd.metoffice.com>
Steve Wardle         <steven.wardle@metoffice.gov.uk>     stevewardle         <steven.wardle@metoffice.gov.uk>
Stuart Whitehouse    <stuart.whitehouse@metoffice.gov.uk> scwhitehouse        <stuart.whitehouse@metoffice.gov.uk>
Sadie Bartholomew    <sadie.bartholomew@metoffice.gov.uk> Sadie Bartholomew   <30274190+sadielbartholomew@users.noreply.github.com>
