# Configuration for running Rose test battery on Travis CI
# See https://travis-ci.org/ for more info.

---
language: python
python:
    - 3.7
dist: xenial

before_install:
  - export PATH="$PWD/.travis:$PATH"

after_success:
  - now report_coverage

after_failure:
  - printenv PATH PYTHONPATH
  - rose check-software
  - cat /tmp/sphinx-err*  # sphinx traceback

jobs:
  include:
    - name: "Unit Tests"
      install:
        - now install coverage cylc linters pytest rose
      script:
        - now test style
        - now test units

    - name: "Test Battery"
      before_install:
        - export PATH="$PWD/.travis:$PATH"
        - now install coverage cylc fcm rose tut_suite
      script:
        - now test battery
    - name: "Documentation"
      install:
        - now install coverage rose sphinx tut_suite
      script:
        - now test docs
        - now build docs
