# Configuration for running Rose test battery on Travis CI
# See https://travis-ci.org/ for more info.

---
language: python
python:
    - 3.7
dist: xenial

before_install:
  - export PATH="$PWD/.travis:$PATH"

after_success:
  - now report coverage

after_failure:
  - now report error

jobs:
  include:
    - name: "Unit Tests"
      install:
        - now install coverage linters pytest cylc rose
      script:
        - now test style
        - now test units

    - name: "Test Battery"
      before_install:
        - export PATH="$PWD/.travis:$PATH"
        - now install coverage fcm tut_suite
      install:
        - now install isodatetime cylc rose
      script:
        - now test battery

    - name: "Documentation"
      install:
        - now install coverage isodatetime rose sphinx tut_suite
      script:
        - now test docs
