/**********************************************************************
 * (C) British crown copyright 2012-8 Met Office.
 *
 * This file is part of Rose, a framework for scientific suites.
 *
 * Rose is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Rose is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Rose. If not, see <http://www.gnu.org/licenses/>.
 *
 **********************************************************************/

.slides-only {
    display: none;
}

img.img-full {
    /* also update in S5/slides.css */
    max-width: 80%;
    max-height: 30em;
    width: auto;
    height: auto;
}

body {
    background-color: rgb(252,252,252)!important;
}

body {
    background-color: rgb(252,252,252)!important;
}

body {
    background-color: rgb(252,252,252)!important;
}

#main-content li, #content li {
    list-style-type: none;
}

#panel-main > .panel-footer > .nav {
    display: inline-block;
}

.collapse-expand {
    opacity: 0.25;
    margin: 0 0.5em 0 0;
}

.collapse-expand:hover {
    opacity: 1;
}

.sectionlink {
    display: none;
}

:hover > .sectionlink {
    display: inline;
}

.logo {
    background-image: url("../img/rose-icon.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    padding-left: 1.5em;
}

.logo-large {
    background-image: url("../img/rose-icon-large.png");
}

span.compliance {
    font-size:0.5em;
    line-height: 1;
    display: block;
}

#sidenav ul.nav > li > a {
    padding: 0.25em;
}

#sidenav li {
    list-style-type: none;
}

#sidenav .active > a {
    font-weight: bold;
}

#next, #prev {
    border-radius: 2em;
}

span.top-level-section {
    font-size: 3em;
    font-variant: small-caps;
}

kbd {
    background-color: rgb(240,240,240);
    color: rgb(10, 50, 150);
    box-shadow: none;
}

samp {
    border-radius: 0.2em;
    padding: 0 0.2em 0 0.2em;
    background-color: rgb(240,240,240);
    color: black;
    box-shadow: none;
}

var {
    font-family: monospace;
    border-radius: 0.2em;
    padding: 0 0.2em 0 0.2em;
    background-color: rgb(240,240,240);
    color: rgb(120, 50, 120);
    box-shadow: none;
}

.shell-prompt {
    background: none;
    border: none;
    font-weight: bold;
    margin: 0;
    margin-right: 0.5em;
    float: left;
}

.r-floater {
    float: right;
}

table.questiontable td {
    padding: 0 0 0 1em;
}

pre {
    white-space: pre-wrap;
}

img {
    margin: 1em;
}

dt {
    margin: 0.5em 0 0 0;
}

dd {
    margin: 0 0 0.5em 2em;
}

h2 {
    margin: 1em 0 0.5em 0;
    border-bottom: thin solid #ddd;
}

#controlForm {
    margin-bottom:0;
}

#index-single-page-button {
    float: right;
}

.alwayshidden {
    display: none;
}

#configuration-metadata-table td, th{
    text-align: center;
}
