#!jinja2
[cylc]
    UTC mode=True
    [[event hooks]]
        timeout handler = rose suite-hook --shutdown
        timeout         = PT1M
[scheduling]
    initial cycle point = 20100101T00Z
    final cycle point   = 20100101T00Z
    [[dependencies]]
        [[[ T00 ]]]
            graph="""BUNCH_TASKS:finish-all => dummy
                     dummy => !BUNCH_TASKS"""

[runtime]
    [[root]]
        command scripting=rose task-run -v -v --debug
        [[[event hooks]]]
            succeeded handler          = rose suite-hook
            failed handler             = rose suite-hook
            submission failed handler  = rose suite-hook --shutdown
            submission timeout handler = rose suite-hook
            execution timeout handler  = rose suite-hook
            submission timeout         = PT1M
            execution timeout          = PT1M
    [[BUNCH_TASKS]]
    [[bunch]]
        inherit = BUNCH_TASKS
    [[bunch_fail]]
        inherit = BUNCH_TASKS
    [[bunch_incremental]]
        inherit = BUNCH_TASKS
        retry delays = PT1S
    [[bunch_bigpop]]
        inherit = BUNCH_TASKS
    [[bunch_names]]
        inherit = BUNCH_TASKS
    [[bunch_env_pass]]
        inherit = BUNCH_TASKS
        retry delays = PT1S
        [[[environment]]]
            ARG1=true false true
            COMMENT=a comment
            FAIL_MODE=continue
            INCREMENTAL=true
            POOL_SIZE=1
            
    [[dummy]]
        command scripting = true
