#!jinja2
[cylc]
    UTC mode=True
    [[events]]
        stalled handler = cylc stop '%(suite)s'
        timeout handler = cylc stop '%(suite)s'
        timeout = PT1M
[scheduling]
    initial cycle point = 20100101
    final cycle point = 20100101
    [[dependencies]]
        [[[T00]]]
            graph="""BUNCH_TASKS:finish-all => dummy
                     dummy => !BUNCH_TASKS"""

[runtime]
    [[root]]
        script=rose task-run -v -v --debug
        [[[job]]]
            execution time limit = PT1M
    [[BUNCH_TASKS]]
    [[bunch]]
        inherit = BUNCH_TASKS
    [[bunch_fail]]
        inherit = BUNCH_TASKS
    [[bunch_incremental]]
        inherit = BUNCH_TASKS
        retry delays = PT1S
    [[bunch_bigpop]]
        inherit = BUNCH_TASKS
    [[bunch_names]]
        inherit = BUNCH_TASKS
    [[bunch_env_pass]]
        inherit = BUNCH_TASKS
        retry delays = PT1S
        [[[environment]]]
            ARG1=true false true
            COMMENT=a comment
            FAIL_MODE=continue
            INCREMENTAL=true
            POOL_SIZE=1
    [[bunch_print_envar]]
        inherit = BUNCH_TASKS

    [[dummy]]
        script = true
