#!jinja2
[cylc]
UTC mode=True
[[event hooks]]
timeout handler=rose suite-hook --shutdown
timeout=1

[scheduling]
[[dependencies]]
graph=my_task_1

[runtime]
[[root]]
command scripting=true
[[my_task_1]]
