#!jinja2
[cylc]
    UTC mode=True
    abort if any task fails = True
    [[events]]
        abort on timeout = True
        timeout=PT2M
[scheduling]
    initial cycle point=20130101
    final cycle point=20130102
    [[dependencies]]
        [[[T00, T12]]]
            graph = """
{% for world in worlds|default(["worlds"]) -%}
hello_{{world}}
{% endfor -%}
"""

[runtime]
    [[root]]
        script=rose task-run --debug --app-key=hello
        [[[environment]]]
            HELLO={{hello|default("hello")}}
        [[[job]]]
            execution time limit = PT1M
{% for world in worlds -%}
    [[hello_{{world}}]]
{% endfor -%}
