#!jinja2
[cylc]
    UTC mode = True
    abort if any task fails = True
[scheduling]
    [[dependencies]]
        graph = """hello-make => hello-run"""

[runtime]
    [[hello-make]]
        script = rose task-run --app-key=make --new
    [[hello-run]]
        script = rose task-run --app-key=run --path=share/hello-make/build/bin
