#!jinja2
[cylc]
    UTC mode = True
[scheduling]
    [[dependencies]]
        graph = """
my_task_1
{% if HOST is defined %}
my_task_2
{% endif %}
"""

[runtime]
    [[root]]
        command scripting = true
    [[my_task_1]]
{% if HOST is defined %}
    [[my_task_2]]
        [[[remote]]]
            host = {{HOST}}
{% endif %}
