[scheduling]
    # The first cycle of the suite is at 00:00 on Jan 1 2013
    initial cycle time = 2013010100
    # The last cycle of the suite is at 00:00 on Jan 2 2013
    final cycle time   = 2013010200
    [[special tasks]]
    # These tasks are only run at the beginning of the suite
        cold-start = fcm_make
    [[dependencies]]

        [[[ 0, 6, 12, 18 ]]]
            # At 00:00, 06:00, 12:00, 18:00:
            #
            # my_hello_world is run after fcm_make or after the last cycle's
            # my_hello_world
            #
            # locate_fred is run after fcm_make or after the last cycle's
            # locate_fred
            #
            # fred_hello_world is run after locate_fred
            graph = """
                fcm_make | my_hello_world[T-6] => my_hello_world
                fcm_make | locate_fred[T-6] => locate_fred => fred_hello_world
            """

        [[[ 0, 12 ]]]
            # At 00:00, 12:00:
            #
            # my_hello_mars is run after fcm_make or after the last cycle's
            # my_hello_mars
            graph = """
                fcm_make | my_hello_mars[T-12] => my_hello_mars
            """

[runtime]
    [[root]]
        command scripting = "sleep 10 && rose task-run -v"
        [[[event hooks]]]
            succeeded handler = "rose task-hook"
            failed handler = "rose task-hook --shutdown"
            submission failed handler = "rose task-hook --shutdown"
    
    [[locate_fred]]
        command scripting = """
            sleep 10 && echo 'fred is in '$(find /usr/share/zoneinfo/[A-Z]*/ -type f -printf "%f\n" | shuf -n 1 || echo 'the pub')
        """
