#!jinja2
[cylc]
    # Begin Rose required event hook block
    UTC mode = True # Ignore DST
    [[event hooks]]
        timeout handler = rose suite-hook --mail --shutdown
        timeout = P3D
    # End Rose required event hook block
[scheduling]
    initial cycle point = 20130101T0000Z # The first cycle of the suite is at 00:00 on Jan 1 2013
    final cycle point = 20130102T0000Z # The last cycle of the suite is at 00:00 on Jan 2 2013
    [[dependencies]]

        [[[R1]]]
            graph = fcm_make
        [[[PT6H]]] # Each day at 00:00, 06:00, 12:00, 18:00:
            graph = """
                # my_hello_world is run after fcm_make or after the previous one finishes
                fcm_make[^] => my_hello_world
                my_hello_world[-PT6H] => my_hello_world

                # locate_fred is run after fcm_make or after the previous one finishes
                # fred_hello_world is run after locate_fred
                fcm_make[^] => locate_fred
                locate_fred[-PT6H] => locate_fred => fred_hello_world
            """

        [[[PT12H]]] # Each day at 00:00 and 12:00:
            graph = """
                # my_hello_mars is run after fcm_make or after the previous one finishes
                fcm_make[^] => my_hello_mars
                my_hello_mars[-PT12H] => my_hello_mars
            """

[runtime]
    [[root]]
        command scripting = rose task-run -v
        pre-command scripting = {{SLEEP}}  # Slow down so we can see it run
        [[[remote]]]
            host = {{ ROSE_ORIG_HOST }}
        # Begin Rose recommended event hook block
        [[[event hooks]]]
           succeeded handler = rose suite-hook
           failed handler = rose suite-hook --shutdown
           submission failed handler = rose suite-hook --shutdown
           submission timeout handler = rose suite-hook --mail
           execution timeout handler = rose suite-hook --mail
           submission timeout = P1D # 24 hours
           execution timeout = PT3H # 3 hours
        # End Rose recommended event hook block
    [[locate_fred]]
        command scripting = """
            echo 'fred is in '$(find /usr/share/zoneinfo/[A-Z]*/ -type f -printf "%f\n" | shuf -n 1 || echo 'the pub')
        """
    # Tasks need defining in runtime sections, even when identical to root.
    [[fcm_make]]
    [[my_hello_world]]
    [[fred_hello_world]]
    [[my_hello_mars]]
