entry {
    background-color: coral;
}

/* Fix the close button for tab page labels */
#page-tab-button {
    border: None;
    padding-right: 10px;
}
    
#page-tab-button:hover {
    background-image: None;
    box-shadow: None;
}

#macro-button {
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
}
