#!jinja2
[cylc]
    UTC mode = True
    [[events]]
        abort on timeout = True
        timeout = PT1M
[scheduling]
    [[dependencies]]
        graph = my_task_1

[runtime]
    [[my_task_1]]
        script = """
while [[ ! -e $CYLC_SUITE_RUN_DIR/flag ]]; do
    sleep 1
done
"""
        [[[job]]]
            execution time limit = PT1M
