[cylc]
    UTC mode = True

[scheduling]
    # Start the suite 7 hours before now ignoring minutes and seconds
    # * previous(T-00) takes the current time ignoring minutes and seconds.
    # * - PT7H subtracts 7 hours from the time.
    initial cycle point = previous(T-00) - PT7H
    # Stop the suite 6 hours after the initial cycle point.
    final cycle point = +PT6H
    [[dependencies]]
        [[[PT3H]]]
            # Repeat every three hours starting at the initial cycle point.
            graph = """
                get_observations_belmullet => consolidate_observations
                get_observations_camborne => consolidate_observations
                get_observations_heathrow => consolidate_observations
                get_observations_shetland => consolidate_observations
            """

        [[[+PT6H/PT6H]]]
            # Repeat every six hours starting six hours after the initial
            # cycle point.
            graph = """
                consolidate_observations => forecast
                consolidate_observations[-PT3H] => forecast
                consolidate_observations[-PT6H] => forecast
                get_rainfall => forecast => post_process_exeter
            """

        [[[+PT12H/PT6H]]]
            # Repeat every six hours starting twelve hours after the initial
            # cycle point.
            graph = """
                forecast[-PT6H] => forecast
            """
