@import url(../rose-doc.css);  /* stuff for Rose */

/* don't change this unless you want the layout stuff to show up in the outline view! */

.layout div, #footer *, #currentSlide, #controlForm * {display: none; visibility: hidden}
 #footer, #controls, #controlForm, #navLinks, #toggle {
  display: inline; visibility: visible; margin: 0; padding: 0;}
 #footer {width: 30%; z-index: -100;}
#toggle {float: left}
/*html>body>body-header #toggle {position: fixed; top: 0; right: 0;} */

/* making the outline look pretty-ish */

#slide0 h1, #slide0 h2, #slide0 h3, #slide0 h4 {border: none; margin: 0;}
#slide0 h1 {padding-top: 1.5em;}
.slide h1 {margin: 1.5em 0 0; padding-top: 0.25em;
  border-top: 1px solid #888; border-bottom: 1px solid #AAA;}
#currentSlide {visibility: hidden;}
