@import url(s5-core.css); /* required to make the slide show run at all */
@import url(framing.css); /* sets basic placement and size of slide components */
@import url(pretty-rose.css);  /* stuff that makes the slides look better than blah */
@import url(../rose-doc.css);  /* stuff for Rose */

h2 {
    border-top: none;
}

