/**********************************************************************
 * (C) British crown copyright 2012-6 Met Office.
 *
 * This file is part of Rose, a framework for scientific suites.
 *
 * Rose is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Rose is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Rose. If not, see <http://www.gnu.org/licenses/>.
 *
 **********************************************************************/

@import url(s5-core.css); /* required to make the slide show run at all */

/* keep slide within the panel */
.slide {
    width:100%;
    position: absolute;
    padding-right: 2em; // should be 2 * #panel-main > .panel-body:padding-left
}

/* elements to be centered in slides mode */
.centre-slide {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* div.slide .slide-title only to be visible in slides mode */
div.slide-title {
    text-align: center;
    padding-top: 2em;
}

/* enforce a known padding for slide positioning */
#panel-main > .panel-body {
    padding: 0.5em 0em 0.5em 1em;
}

/* no select in the panel footer */
#panel-main > .panel-footer {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

/* panel positioning */
#panel-main {
    //box-sizing: border-box;
    position: fixed;
    width:100%;
    height:100%;
    top: 0em;
    bottom: 0em;
    left: 0em;
    right: 0em;
}

/* hide navbar */
nav {
    display: none;
}

#controls, #currentSlide {
    font-size: 0.8em;
}

/* hide contents */
#content {
    display: none;
}

/* hide info that we don't want in the slides */
.alwayshidden, .outline-only {
    display: none;
}

/* ensure slides-only content is visible */
.slides-only {
    display: block;
}

/* hide the previous and next buttons at the bottom of #panel-main */
#back-button, #next-button, #pagenav {
    display: none;
}

/* make the controls sit inline with eachother */
#controls, #navList, #currentSlide {
    display: inline-block;
}

/* floating images */
.r-floater {float: right;}
.l-floater {float: left;}

/* make pre elements fill avaliable width */
pre {width:100%;}
pre.shell-prompt, pre.shell {width:auto;}

/* re-define font-sizes (bootstrap uses absolute values so overriding is
 * necessary) */
div.slide-title > span {font-size:2.0em;}
h1 {font-size:1.6em;}
h2 {font-size:1.4em;}
h3 {font-size:1.2em;}
h4 {font-size:1.0em;}
p, ul, code {font-size: 0.8em;}
pre {font-size: 0.6em;}

/* reduce default line for pre elements so we can get more code in */
pre {line-height:1.2;}

/* increase the gap between li elements for presentation */
ul li {margin-top: 0.65em; margin-bottom: 0.65em;}

/* remove h2 border-bottom and reset margin */
h2 {
    margin: 0 0 0.5em 0;
    border: none;
}

/* incase there is content in #body-main which is not in a div.slide hide it */
#body-main {visibility:hidden}

/* padd out the slideshow controls */
#navLinks a, #navLinks button, #navLinks div {margin-right: 0.5em;}
