#-------------------------------------------------------------------------------
# (C) British Crown Copyright 2012-4 Met Office.
#
# This file is part of Rose, a framework for meteorological suites.
#
# Rose is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rose is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Rose. If not, see <http://www.gnu.org/licenses/>.
#-------------------------------------------------------------------------------
# Rose site/user configuration example
# To activate this file, place it at $ROSE_HOME/etc/rose.conf
#-------------------------------------------------------------------------------

# Common site configuration.
## Paths to locate configuration metadata
#  meta-path=DIR1[:DIR2[:...]]
## E.g.:
#  meta-path=/opt/rose-meta
## URL to Rose documentation.
#  rose-doc=http://metomi.github.io/rose/doc/

# Configuration of external commands.
#
## Launch text editor (default=vi).
#  editor=gvim -f
## Launch graphical text editor (default=gedit).
#  geditor=gvim -f
## Launch graphical file system browser (default=nautilus).
#  fs-browser=konqueror
## Launch image viewer (default=eog).
#  image-viewer=eog --new-instance
## The rsync command.
#  rsync=rsync -a --exclude=.* --timeout=1800 --rsh='ssh -oBatchMode=yes'
## The ssh command.
#  ssh=ssh -oBatchMode=yes
## Launch terminal (default=xterm).
#  terminal=konsole
[external]

# Configuration specific to the Rosie svn-pre-commit-hook.
## Admin users allowed to write to the trunk of any suite.
#  super-users=spiderman batman
[rosa-svn-pre-commit]

# Configuration specific to "rose config-edit".
# See the $ROSE_HOME/lib/python/rose/config_editor/__init__.py for detail.
#
## Path to a picture containing the suite engine icon.
#  icon-path-scheduler=/opt/cylc/images/icon.svg
## Hyperlink to Rose project page. (default=https://github.com/metomi/rose/).
#  project-url=https://host/rose/
[rose-config-edit]

# Configuration related to "rose host-select".
#
## The default arguments to use for this command.
#  default=GROUP/HOST ...
## E.g.:
#  default=hpc
## Declare a named group of hosts.
#  group{NAME}=GROUP/HOST ...
## E.g.:
#  group{rose-vm}=rose-vm0 rose-vm1 rose-vm2 rose-vm3
#  group{hpc}=hpc1 hpc2
#  group{hpc1}=hpc1a hpc1b hpc1c hpc1d
#  group{hpc2}=hpc2a hpc2b hpc2c hpc2d
## Declare the default ranking method for a group of hosts.
#  method{NAME}=METHOD[:METHOD-ARG]
## E.g.:
#  method{hpc}=random
## Declare the default threshold(s) for a group of hosts.
#  thresholds{NAME}=[METHOD[:METHOD-ARG]:]VALUE ...
## E.g.:
#  thresholds{hpc}=fs:/var/tmp:75 fs:/tmp:75
#  thresholds{linux}=mem:8000
## Time out (in number of seconds) for SSH connection to hosts
#  timeout=T
## E.g.:
#  timeout=5
[rose-host-select]

# Configuration related to "rose suite-hook"
#
## Default host name for email addresses. (Use "localhost" if not specified.)
#  email-host=HOST
## E.g.:
#  email-host=myorganisation.org
#
## SMTP server host. (Use "localhost" if not specified.)
#  smtp-host=HOST[:PORT]
## E.g.:
#  smtp-host=mysmtp.myorganisation.org:2525
[rose-suite-hook]

# Configuration related to "rose suite-log"
#
## Mapping $HOME/cylc-run/SUITE to a http:// URL.
## E.g. If $HOME/public_html/cylc-run is a symlink of $HOME/cylc-run
##      and $HOME/public_html/ is served as http://host/~$USER/:
#  home-public-html=http://host/~$USER public_html
## URL to the site's Rose Bush web service.
#  rose-bush=http://host/rose-bush/
[rose-suite-log]

# Configuration related to "rose mpi-launch".
#
## Specify a list of launcher commands.
#  launcher-list=LAUNCHER ...
## E.g.:
#  launcher-list=poe mpiexec
## Specify the options to a LAUNCHER for launching with a command file.
## The template string should contain "$ROSE_COMMAND_FILE" (or
## "${ROSE_COMMAND_FILE}"), which will be expanded to the path to the
## command file.
#  launcher-fileopts.LAUNCHER=OPTION-TEMPLATE
## E.g.:
#  launcher-fileopts.poe=-f $ROSE_COMMAND_FILE
#  launcher-fileopts.mpiexec=-cmdfile $ROSE_COMMAND_FILE
## Specify the options to a LAUNCHER for launching with a command.
## "preopts" are options placed after the launcher command but before
## COMMAND. "postopts" are options placed after COMMAND but before the
## remaining arguments.
#  launcher-preopts.LAUNCHER=OPTIONS-TEMPLATE
#  launcher-postopts.LAUNCHER=OPTIONS-TEMPLATE
## E.g.:
#  launcher-preopts.mpiexec=-n $NPROC
[rose-mpi-launch]

# Configuration related to "rose suite-run".
#
## Hosts in [rose-host-select] section that can be used to run a suite.
#  hosts=HOST-GROUP|HOST ...
## E.g.:
#  hosts=rose-vm
## Hosts in [rose-host-select] section that can be scanned by rose utilities.
#  scan-hosts=HOST-GROUP|HOST ...
## E.g.:
#  scan-hosts=localhost rose-vm
## Root location of a suite run directory (default=$HOME)
#  root-dir=HOST-GLOB=$HOST-DIR
#          =...
## where HOST-GLOB is a glob for matching host names.
##       HOST-DIR is value of the root location for matching hosts
#  root-dir=hpc*=$DATADIR
#          =*=$HOME
## Root location of a suite run's "share/" directory (default=$HOME)
## Syntax is the same as "root-dir".
#  root-dir-share=HOST-GLOB=$HOST-DIR
#                =...
## Root location of a suite run's "work/" directory (default=$HOME)
## Syntax is the same as "root-dir".
#  root-dir-work=HOST-GLOB=$HOST-DIR
#               =...
[rose-suite-run]

# Configuration related to "rose task-run".
#
## Items to prepend to the PATH environment variable
#  path-prepend=/path/1 /path/2
## Items to prepend to the a PATH-like environment variable, e.g. PYTHONPATH
#  path-prepend.PYTHONPATH=
[rose-task-run]

# Calling "rose" on a remote host.
#
## Alternate path to "rose" for all hosts
#  * =/opt/rose
## Alternate path to "rose" for a specific host
#  hostname=/opt/site/rose
[rose-home-at]

# Configuration related to the built-in "rose_ana" application.
#
## Items to prepend to the search path for user methods
#  method-path=/path/1 /path2
[rose-ana]

# Configuration related to the database of the Rosie web service server
#
## The database location of a given repository prefix, from within the server
#  db.PREFIX=URL
## E.g. (To create/reference an SQLite DB at "/opt/rosie/foo-db.sqlite"):
#  db.foo=sqlite:////opt/rosie/foo-db.sqlite
## The path to the repository of a given prefix, from within the server
#  repos.PREFIX=DIR
## E.g.:
#  repos.foo=/opt/svn-repos/foo
[rosie-db]

# Configuration related to "rosie go" GUI
# See the $ROSE_HOME/lib/python/rosie/browser/__init__.py for detail.
#
## Path to a picture containing the suite engine icon.
#  icon-path-scheduler=/opt/cylc/images/icon.svg
## Hyperlink to Rose project page. (default=https://github.com/metomi/rose/).
#  project-url=https://host/rose/
[rosie-go]

# Configuration related to Rosie client commands
#
## Root directory of local (working) copies of suites (default=$HOME/roses)
#  local-copy-root=DIR
## E.g.:
#  local-copy-root=$HOME/my-work/roses
## The default ID prefix (an identifier for a Rosie repository/service)
#  prefix-default=PREFIX
## E.g.:
#  prefix-default=foo
## URL of the repository of an ID prefix, no trailing slash
#  prefix-location.PREFIX=URL
## E.g.:
#  prefix-location.foo=svn://host/foo
## Default owner when creating a suite in the repository of an ID prefix
#  prefix-owner-default.PREFIX=USER-ID
## E.g.:
#  prefix-owner-default.foo=tinky-winky
## Source browser (e.g. Trac) URL of the repository of an ID prefix
#  prefix-web.PREFIX=URL
## E.g.:
#  prefix-web.foo=http://host/projects/foo/intertrac/source:
## Web service URL of an ID prefix
#  prefix-ws.PREFIX=URL
## E.g.:
#  prefix-ws.foo=http://host:port/rosie/foo
[rosie-id]

# Configuration related to the adhoc Rosie web service server
#
## Adhoc Rosie web server log directory
#  log-dir=DIR
## E.g.:
#  log-dir=/opt/rosie/log
## Adhoc Rosie web server port
#  port=PORT-NUMBER
## E.g.:
#  port=8080
[rosie-ws]

# Test Battery Configuration
#
## List of selectable host groups
#  host-groups=GROUP ...
## E.g.:
#  host-groups=my-hpc my-cluster
#
## A remote host that does not share its HOME directory with localhost
#  job-host=HOST
## E.g.:
#  job-host=my-hpc01
## A remote host that shares its HOME directory with localhost
#  job-host-with-share=HOST
## E.g.:
#  job-host-with-share=my-cluster01
[t]
