# The :rose:file:`rose.conf` file can be installed in:
#
# * ``$ROSE_HOME/etc/`` for *site* configuration.
# * ``$HOME/.metomi/rose/`` for *user* configuration.
#
#.. This file documents the settings and their default values.
#   Values of settings in this file are mostly placeholders,
#   so this file should NOT be used as-is.


# :default: md5
#
# Default method for checksum calculation.
# Values can be any algorithm available from Python's ``hashlib``.
checksum-method=md5|sha1|...
# Paths to locate configuration metadata e.g. ``meta-path=/opt/rose-meta``.
meta-path=DIR1[:DIR2[:...]]
# :default: *file://${ROSE_HOME}/doc/*
#
# URL to Rose documentation.
rose-doc=http://metomi.github.io/rose/
# Site name, used by suite configuration for portability.
site=SITE-NAME


# Configuration of external commands.
[external]
# :default: diff -u
#
# Launch diff tool.
diff_tool=COMMAND
# :default: vi
#
# Launch text editor.
editor=COMMAND
# :default: gvimdiff
#
# Launch graphical diff tool.
gdiff_tool=COMMAND
# :default: gedit
#
# Launch graphical text editor.
geditor=COMMAND
# :default: nautilus
#
# Launch graphical file system browser.
fs_browser=COMMAND
# :default: eog
#
# Launch image viewer.
image_viewer=COMMAND
# :default: rsync -a --exclude=.* --timeout=1800 --rsh='ssh -oBatchMode=yes'
#
# The ``rsync`` command.
rsync=COMMAND
# :default: ssh -oBatchMode=yes -oConnectTimeout=10
#
# The ``ssh`` command.
ssh=COMMAND
# :default: xterm
#
# Launch terminal.
terminal=COMMAND


# These LDAP settings are only relevant if
# :rose:conf:`[rosa-svn]user-tool=ldap`.
[rosa-ldap]
# :default: uid cn mail
#
# The attributes for UID, common name and email in the LDAP directory.
attrs=uid cn mail
# The base DN in the LDAP directory to search for users.
basedn=BASEDN
# The DN in the LDAP server to bind with to search the directory.
binddn=BINDDN
# If specified, use the value as extra ``(AND)`` filters to an LDAP search.
filter-more=
# :default: ~/.ldappw
#
# The file containing the password to the LDAP server, if required.
password-file=
# The location of the TLS CA certificate file.
tls-ca-file=
# The URI of the LDAP server e.g. ``ldap://my-ldap.my-domain``.
uri=URL


# Configuration for ``rosa svn-pre-commit`` and ``rosa svn-post-commit``.
[rosa-svn]
# Space-separated list of admin users allowed to write to the trunk of any
# suite.
super-users=USER1 ...
# List of user roles to notify on trunk commits. A user role can be:
#
# * ``author`` for the author of the change.
# * ``owner`` for the owner of the affected suite.
# * ``access-list`` for the users in the ``access-list`` of the affected suite.
#
#   .. note::
#      If the author is not in the list, (s)he will not be notified regardless
#      of his/her role as suite owner or author of the ``access-list``.
#
# E.g.::
#
#     notify-who-on-trunk-commit=author owner access-list
notify-who-on-trunk-commit=ROLE1 ...
# Notification email address (for the "From:" field in notification emails).
notification-from=EMAIL-ADDRESS
# Tool to obtain user information. Either LDAP or Unix ``getpwnam``.
user-tool=ldap|passwd


# Configuration for Rose Bush server.
[rose-bush]
# :default: 100
#
# Cycles list view: default number of cycles per page.
cycles-per-page=NUMBER
# :default: The server's host name.
#
# An alternative host name.
host=NAME
# :default: 15
#
# Job list view: default number of jobs per page.
jobs-per-page=NUMBER
# :default: 300
#
# Job list view: maximum number of jobs per page.
jobs-per-page-max=NUMBER
# Image logo attributes, can be any HTML ``<img/>`` tag attributes
# e.g: ``logo=src="http://server/my-rose-bush-logo.png" alt="My Rose Bush
# Logo"``.
logo=HTML-IMG-ATTRIBUTE ...
# :default: 100
#
# Suites list view: default number of suites per page.
suites-per-page=NUMBER
# :default: "Rose Bush"
#
# An alternative service title.
title=TITLE
# :default: 10485760
#
# File view: maximum viewable file size in bytes.
view-size-max=BYTES


# Configuration specific to :ref:`command-rose-config-diff`.
[rose-config-diff]
# :default: "title,ns,description,help"
#
# Metadata properties to use.
properties=title,ns,description,help
# Shorthand expressions for ignore-setting regular expressions
# e.g. ``^baz,bar,w[ib]ble``.
ignore{foo}=REGEX



# Configuration specific to :ref:`command-rose-config-edit`.
[rose-config-edit]
# :default: /opt/cylc/images/icon.svg
#
# Path to an image containing the suite engine icon.
# See :py:mod:`rose.config_editor` for detail.
icon-path-scheduler=PATH
# :default: https://github.com/metomi/rose/
#
# Hyperlink to the Rose project page.
project-url=URL


# Configuration related to :ref:`command-rose-host-select`.
[rose-host-select]
# The default arguments to use for this command e.g. ``default=hpc``.
default=GROUP/HOST ...
# Declare a named group of hosts e.g::
#
#    group{rose-vm}=rose-vm0 rose-vm1 rose-vm2 rose-vm3
#    group{hpc}=hpc1 hpc2
#    group{hpc1}=hpc1a hpc1b hpc1c hpc1d
#    group{hpc2}=hpc2a hpc2b hpc2c hpc2d
group{NAME}=GROUP/HOST ...
# :default: load
#
# Declare the default ranking method for a group of hosts e.g.
# ``method{hpc}=random``.
# For detail on the methods see :ref:`command-rose-host-select`.
method{NAME}=METHOD[:METHOD-ARG]
# Declare the default threshold(s) for a group of hosts e.g::
#
#    thresholds{hpc}=fs:/var/tmp:75 fs:/tmp:75
#    thresholds{linux}=mem:8000
#
# For detail on the methods see :ref:`command-rose-host-select`.
thresholds{NAME}=[METHOD[:METHOD-ARG]:]VALUE ...
# :default: 10.0
#
# Set the timeout in seconds of ``ssh`` commands to hosts.
timeout=FLOAT


# Configuration related to :ref:`command-rose-stem`.
[rose-stem]
# Automatic options. These are added as if the user added them with
# ``--define-suite`` on the command line and can be accessed as Jinja2
# variables in the ``suite.rc`` file. E.g ``automatic-options=TEA=earl_grey``
# would set the Jinja2 variable ``TEA`` to be ``earl_grey``.
automatic-options=VARIABLE=VALUE


# Configuration related to :ref:`command-rose-suite-log`.
[rose-suite-log]
# URL to the site's Rose Bush web service.
rose-bush=URL


# Configuration related to :ref:`command-rose-mpi-launch`.
[rose-mpi-launch]
# Specify a list of launcher commands e.g::
#
#    launcher-list=poe mpiexec
launcher-list=LAUNCHER ...
# Specify the options to a ``LAUNCHER`` for launching with a command file.
# The template string should contain ``$ROSE_COMMAND_FILE`` (or
# ``${ROSE_COMMAND_FILE}``), which will be expanded to the path to the
# command file. e.g::
#
#    launcher-fileopts.poe=-f $ROSE_COMMAND_FILE
#    launcher-fileopts.mpiexec=-cmdfile $ROSE_COMMAND_FILE
launcher-fileopts.LAUNCHER=OPTION-TEMPLATE
# Specify the options to a ``LAUNCHER`` for launching with a command.
# ``preopts`` are options placed after the launcher command but before
# ``COMMAND``. E.g::
#
#    launcher-preopts.mpiexec=-n $NPROC
launcher-preopts.LAUNCHER=OPTIONS-TEMPLATE
# Specify the options to a ``LAUNCHER`` for launching with a command.
# ``postopts`` are options placed after ``COMMAND`` but before the
# remaining arguments.
launcher-postopts.LAUNCHER=OPTIONS-TEMPLATE


# Configuration related to :ref:`command-rose-task-run`.
[rose-task-run]
# Items to prepend to the ``PATH`` environment variable.
path-prepend=/path/1 /path/2
# Items to prepend to a PATH-like environment variable,
# e.g. ``PYTHONPATH``.
path-prepend.PYTHONPATH=


# Configuration related to the built-in :rose:app:`rose_ana` application.
[rose-ana]
# Items to prepend to the search path for user methods.
method-path=/path/1 /path2
# :default: .false.
#
# Turns on the :ref:`Rose Ana Comparison Database
# <The Rose Ana Comparison Database>`.
kgo-database=.true.
# Limits the number of lines printed when using the
# :py:mod:`rose.apps.ana_builtin.grepper` analysis class.
grepper-report-limit=42
# Causes the :py:mod:`rose.apps.ana_builtin.grepper` class to pass
# if all files to be compared are missing.
skip-if-all-files-missing=.true.


# Configuration related to the database of the Rosie web service server.
[rosie-db]
# The database location of a given repository prefix, from within the server
# e.g. to create/reference an SQLite DB at ``/srv/rosie/foo-db.sqlite``::
#
#    db.foo=sqlite:////srv/rosie/foo-db.sqlite
db.PREFIX=URL
# The path to the repository of a given prefix, from within the server
# e.g::
#
#    repos.foo=/srv/svn/foo
repos.PREFIX=DIR


# Configuration related to the adhoc Rosie suite discovery service server.
[rosie-disco]
# :default: The server's host name.
#
# An alternative host name.
host=NAME
# :default: "Rosie Suites Discovery"
#
# An alternative service title.
title=TITLE


# Configuration related to the :ref:`command-rosie-go` GUI.
# See :py:mod:`rosie.browser` for detail.
[rosie-go]
# :default: /opt/cylc/images/icon.svg
#
# Path to an image containing the suite engine icon.
icon-path-scheduler=
# :default: https://github.com/metomi/rose/
#
# Hyperlink to the Rose project page.
project-url=https://host/rose/


# Configuration related to Rosie client commands.
[rosie-id]
# :default: $HOME/roses
#
# Root directory of local (working) copies of suites e.g::
#
#    local-copy-root=$HOME/my-work/roses
local-copy-root=DIR
# The default ID prefix (an identifier for a Rosie repository/service).
prefix-default=PREFIX
# :default: True
#
# For HTTPS requests, verify SSL certificates.
prefix-https-ssl-verify.PREFIX=True|False
# For HTTPS requests, location(s) of certificate + private key files e.g::
#
#    prefix-https-ssl-cert.PREFIX=/path/to/server.pem
#    prefix-https-ssl-cert.PREFIX=/path/to/server.crt /path/to/key
prefix-https-ssl-cert.PREFIX=PATH
# URL of the repository of an ID prefix, with no trailing slash, e.g::
#
#    prefix-location.foo=svn://host/foo
prefix-location.PREFIX=URL
# :default: try gpgagent then gnomekeyring
#
# The password store to use.
prefix-password-store.PREFIX=gpgagent|gnomekeyring
# Default user name for services in prefix.
prefix-username.PREFIX=USER-ID
# Source browser (e.g. Trac) URL of the repository of an ID prefix e.g::
#
#    prefix-web.foo=http://host/projects/foo/intertrac/source:
prefix-web.PREFIX=URL
# Discovery service URL of an ID prefix e.g::
#
#    prefix-ws.foo=http://host:port/rosie/foo
prefix-ws.PREFIX=URL
# List of default discovery services (space-delimited list of prefixes)
# that will be used by a Rosie discovery service client.
prefixes-ws-default=PREFIX ...


# Configuration related to the Rosie version control client.
[rosie-vc]
# Default access-list setting on suite creation, e.g. to grant access to all
# users by default::
#
#    access-list-default=*
access-list-default=USER-ID ...


# Test battery configuration.
[t]
# :default: diff -u
#
# Tool to compare two files when there are differences.
difftool=COMMAND ...
# List of selectable host groups.
host-groups=GROUP ...
# A remote host that does not share its ``HOME`` directory with ``localhost``.
job-host=HOST
# A fast file system for working with small files in
# :rose:conf:`job-host` e.g::
#
#    job-host-fast-dest-root=/var/tmp/$USER
job-host-fast-dest-root=PATH
# A remote host that shares its ``HOME`` directory with ``localhost``.
job-host-with-share=HOST
# A fast file system for working with small files in
# :rose:conf:`job-host-with-share`.
job-host-with-share-fast-dest-root=PATH
# Two non-local job hosts that may or may not share a file system.
job-hosts=HOST1 HOST2
# Two job hosts sharing a file system, but not with ``localhost``.
job-hosts-sharing-fs=HOST1 HOST2
# :default: -j9 -s
#
# Options for ``prove`` when calling :ref:`command-rose-test-battery` with
# no arguments.
# Note that ``-r t`` is automatically added to the end of the command line.
prove-options=PROVE-OPTIONS ...
