#!jinja2
[cylc]
    UTC mode=True
    abort if any task fails=True
    [[events]]
        abort on timeout=True
        timeout=PT2M
[scheduling]
    [[dependencies]]
        graph=my_task_1

[runtime]
    [[my_task_1]]
        script="""
echo RUN_NAMES={{RUN_NAMES}}
echo SOURCE_FOO={{SOURCE_FOO}}
echo HOST_SOURCE_FOO={{HOST_SOURCE_FOO}}
echo SOURCE_FOO_BASE={{SOURCE_FOO_BASE}}
echo HOST_SOURCE_FOO_BASE={{HOST_SOURCE_FOO_BASE}}
echo SOURCE_FOO_REV={{SOURCE_FOO_REV}}
echo SOURCE_FOO_MIRROR={{SOURCE_FOO_MIRROR}}
{%- if TEA is defined %}
echo TEA={{TEA}}
{%- endif %}
{%- if MILK is defined %}
echo MILK={{MILK}}
{%- endif %}
{%- if SOURCE_BAR is defined%}
echo SOURCE_BAR={{SOURCE_BAR}}
echo HOST_SOURCE_BAR={{HOST_SOURCE_BAR}}
echo SOURCE_BAR_BASE={{SOURCE_BAR_BASE}}
echo HOST_SOURCE_BAR_BASE={{HOST_SOURCE_BAR_BASE}}
echo SOURCE_BAR_REV={{SOURCE_BAR_REV}}
{%- endif %}

"""
        [[[job]]]
           execution time limit=PT1M
