/**********************************************************************
 * (C) British crown copyright 2012-6 Met Office.
 *
 * This file is part of Rose, a framework for scientific suites.
 *
 * Rose is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Rose is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Rose. If not, see <http://www.gnu.org/licenses/>.
 *
 **********************************************************************/

/**********************************************************************
 * CSS for Rose documents.
 *
 **********************************************************************/

/**********************************************************************
 * FOREGROUND COLOUR
 *
 **********************************************************************/
a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:active,
a:hover {
    color: blue;
}

code,
kbd,
var {
    color: navy;
}

.sectionlink:link,
.sectionlink:visited {
    color: black;
}

h1 {
    color: #ffcb00;
}

.header-footer {
    color: white;
}

.header-footer a:link {
    color: #ffcb00;
}

.header-footer a:visited,
.header-footer a:hover,
.header-footer a:active {
    color: #ffcb00;
}

.not-trigger {
    color: #5e2d79;
}

.trigger-ignored {
    color: #070;
}

.user-ignored {
    color: #d90;
}

.fail {
    color: red;
}

.succeed {
    color:green;
}

.warn {
    color: #ffc200;
}


/**********************************************************************
 * BACKGROUND COLOUR
 *
 **********************************************************************/
h1 {
    background: #060048;
}

caption,
code,
kbd,
pre,
samp,
th,
.image {
    background: #f8f8f8;
}

.header-footer {
    background: #060048;
}

.sectionlink:active,
.sectionlink:hover {
    background: #ddd;
}

.shell-prompt {
    background: none;
}

.odd {
    background: #fafafa;
}

body {
    background: #eee;
}

#body-main {
    background: white;
}

/**********************************************************************
 * OPACITY
 *
 **********************************************************************/
.collapse-expand {
    opacity: 0.25;
}

.collapse-expand:hover {
    opacity: 1;
}


/**********************************************************************
 * BORDER
 *
 **********************************************************************/
pre {
    border: thin solid #ddd;
}

h2 {
    border-bottom: thin solid #ddd;
}

.shell-prompt,
#content h2 {
    border: none;
}

table,
caption,
td,
th {
    border: thin solid #ccc;
    border-collapse: collapse;
}

.noborder,
.questiontable {
    border: none;
}

#body-main {
    border: thin ridge #ccc;
}

/**********************************************************************
 * FONT
 *
 **********************************************************************/
body {
    font-family: sans-serif;
}

blockquote {
    font-family: serif;
    font-size: 90%;
    font-style: italic;
}

code,
kbd,
samp,
var {
    font-family: monospace;
}

h1 {
    font-size: 175%;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 100%;
}

h4,
h5 {
    font-size: medium;
}

.caption {
     font-size: small;
}

address {
    font-size: x-small;
}

address,
var {
    font-style: normal;
}

pre {
    font-size: small;
}

#controls,
caption,
h1,
h2,
h3,
h4,
h5,
dt,
.shell-prompt,
.answer-status,
.header-footer p {
    font-weight: bold;
}

/**********************************************************************
 * CLASSIFICATION
 *
 **********************************************************************/
#content li,
#main-content li {
    list-style: none;
}

code,
kbd,
samp,
th {
    white-space: nowrap;
}


/**********************************************************************
 * TEXT DECORATION
 *
 **********************************************************************/
a:link {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}

a:active,
a:hover {
    text-decoration: underline;
}


/**********************************************************************
 * TEXT ALIGNMENT
 *
 **********************************************************************/
address {
    text-align: right;
}

h1 {
    text-align: center;
}

.collapse-expand {
    vertical-align: bottom;
}


/**********************************************************************
 * DISPLAY
 *
 **********************************************************************/
.sectionlink {
    display: none;
}

:hover > .sectionlink {
    display: inline;
}

pre {
    overflow: auto;
}

.alwayshidden {
    display: none
}

/**********************************************************************
 * BORDER-RADIUS
 *
 **********************************************************************/
caption,
dl,
pre,
.image {
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
}

.shell {
    border-radius: 0;
    -moz-border-radius: 0;
}

/**********************************************************************
 * MARGIN
 *
 **********************************************************************/
body,
h1,
h2,
.shell-prompt,
.header-footer,
.header-footer img,
.header-footer p {
    margin: 0;
}

h1 {
    margin:0px -30px 0px -30px;
}

img {
    margin: 0.25em;
}

dl,
dd {
    margin-bottom: 0.5em;
}

dl {
    margin-top: 0.5em;
}

.shell-prompt {
    margin-right: 0.5em;
}

caption {
    margin-bottom: 0.2em;
}

table {
    margin-top: 2em;
}

.questiontable {
    margin: 0.25em;
}

#body-main {
    margin:0 auto;
    margin-top:20px;
    margin-bottom:50px;
}
/**********************************************************************
 * PADDING
 *
 **********************************************************************/
h1,
h2,
h3,
h4,
h5 {
    padding-bottom: 0.2em;
}

h1,
h2,
h3,
h4,
h5 {
    padding-top: 0.2em;
}

dl,
li,
pre,
.image {
    padding: 0.2em;
}

code,
kbd,
samp,
var {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.header-footer p {
    padding-top: 0.5em;
}

#content {
    padding-top: 0.5em;
}

caption,
td,
th {
    padding: 0.1em;
}

#body-main {
    padding:30px;
    padding-top:0px;
}
/**********************************************************************
 * POSITION AND FLOAT
 *
 **********************************************************************/

.l-floater {
    clear: left;
    float: left;
}

.r-floater {
    clear: right;
    float: right;
}

.shell-prompt,
#rose-icon {
    float: left;
}

.header-footer address {
    float: right;
}

.header-footer,
{
    position: absolute;
}


/**********************************************************************
 * HEIGHT AND WIDTH
 *
 **********************************************************************/
.header-footer {
    height: 2.9em;
}

#body-main {
    width:800px;
}

@media screen {
    #body-header,
    #body-main {
    }
}


/**********************************************************************
 * CROSS-PLATFORM SUPPORT
 *
 **********************************************************************/

@media handheld, only screen and (max-device-width:850px) {
    #body-main {
        border:none;
        margin: 0;
        padding: 0;
        top: 0.1em;
        position: relative;
        width: 100%;
    }

    body {
        background: white;
    }

    h1 {
        border-top: none;
        margin: 0;
        padding: 0;
    }
}
