#!jinja2
[scheduling]
    [[dependencies]]
        graph = """

            # Start things off with ns_trigger_tests.
            # Trigger all tasks belonging to TRIGGER_NS.

            ns_trigger_tests => TRIGGER_NS


            # Setup our triggers for TRIGGER_NS tasks.

            TRIGGER_NS:succeed-all => ns_succeed_all
            TRIGGER_NS:fail-all => ns_fail_all
            TRIGGER_NS:start-all => ns_start_all
            TRIGGER_NS:finish-all => ns_finish_all
            TRIGGER_NS:succeed-any => ns_succeed_any
            TRIGGER_NS:fail-any => ns_fail_any
            TRIGGER_NS:start-any => ns_start_any
            TRIGGER_NS:finish-any => ns_finish_any

        """
            
[runtime]
    [[root]]
        command scripting = "echo Running on $(hostname) in $PWD; sleep 10"
        [[[job submission]]]
            method = at
        [[[event hooks]]]
            succeeded handler = "rose suite-hook"
            failed handler = "rose suite-hook --mail"  # Email on failure.

    [[TRIGGER_NS]]

    [[task_ok]]
        inherit = TRIGGER_NS
        command scripting = "sleep 10; echo Hurray\!;"

    [[task_delayed]]
        inherit = TRIGGER_NS
        initial scripting = "echo submitting....; sleep 25"
        command scripting = "sleep 10; echo Hurray\!;"

    [[task_fail]]
        inherit = TRIGGER_NS
        command scripting = "sleep 20; echo Oh no\!; exit 1"
