#!jinja2
[scheduling]
    [[dependencies]]
        graph = """
            ns_trigger_tests => NAMESPACE
            NAMESPACE:succeed-all => ns_succeed_all
            NAMESPACE:fail-all => ns_fail_all
            NAMESPACE:start-all => ns_start_all
            NAMESPACE:finish-all => ns_finish_all
            NAMESPACE:succeed-any => ns_succeed_any
            NAMESPACE:fail-any => ns_fail_any
            NAMESPACE:start-any => ns_start_any
            NAMESPACE:finish-any => ns_finish_any
        """
            
# Add suite timeout event (& shutdown event?)
[runtime]
    [[root]]
        command scripting = "echo Running on $(hostname) in $PWD; sleep 10"
        [[[job submission]]]
            method = at
        [[[event hooks]]]
            succeeded handler = "rose task-hook"
            failed handler = "rose task-hook"

    [[NAMESPACE]]
    [[task_ok]]
        inherit = NAMESPACE
        command scripting = "sleep 10; echo Hurray\!;"
    [[task_delayed]]
        inherit = NAMESPACE
        initial scripting = "echo submitting....; sleep 25"
        command scripting = "sleep 10; echo Hurray\!;"
    [[task_fail]]
        inherit = NAMESPACE
        command scripting = "sleep 20; echo Oh no\!; exit 1"
