#!jinja2
[cylc]
    UTC mode = True
    [[event hooks]]
        timeout handler = rose suite-hook --shutdown
        timeout = PT1M
[scheduling]
    initial cycle point = 20130101T0000Z
    final cycle point = 20130103T0000Z
    [[dependencies]]
        [[[ PT12H ]]]
            graph = """
my_task_1
{% if HOST is defined %}
my_task_2
{% endif %}
WARM[-PT12H]:finish-all => rose_prune
"""

[runtime]
    [[root]]
        command scripting = rose task-run
        [[[event hooks]]]
            succeeded handler = rose suite-hook
            failed handler = rose suite-hook
            submission failed handler = rose suite-hook --shutdown
            submission timeout handler = rose suite-hook
            execution timeout handler = rose suite-hook
            submission timeout = PT1M
            execution timeout  = PT1M
    [[cold]]
        command scripting = true
    [[WARM]]
    [[my_task_1]]
        inherit = WARM
{% if HOST is defined %}
    [[my_task_2]]
        inherit = WARM
        [[[remote]]]
            host = {{HOST}}
{% endif %}
    [[rose_prune]]
        inherit = WARM
        command scripting = """
rose task-run --debug | tee -a $CYLC_SUITE_RUN_DIR/prune.log
"""
