#!jinja2
[cylc]
    UTC mode = True
    [[event hooks]]
        timeout handler = "rose suite-hook --shutdown"
        timeout = PT2M
[scheduling]
    initial cycle point = 20130101T00Z
    final cycle point   = 20130102T00Z
    [[dependencies]]
        [[[ T00, T12 ]]]
            graph = """
my_task_1
"""

[runtime]
    [[root]]
        command scripting = """
rose task-run --debug --cycle-offset=T12H --path=MY_PATH='etc/my-path/*'
"""
        [[[event hooks]]]
           succeeded handler = "rose suite-hook"
           failed handler = "rose suite-hook --shutdown"
           submission failed handler = "rose suite-hook --shutdown"
           submission timeout handler = "rose suite-hook"
           execution timeout handler = "rose suite-hook"
           submission timeout = PT1M
           execution timeout  = PT1M
    [[my_task_1]]
