#!jinja2
[cylc]
    UTC mode = True
[scheduling]
    [[dependencies]]
        graph = """
            fcm_make:finish => fin
            fcm_make:fail => fin
        """

[runtime]
    [[fcm_make]]
        script = rose task-run --app-key=fcm_make --new
    [[fcm_make2]]
        platform = any_old_thing
    [[fin]]
