#!jinja2
[scheduling]
    [[dependencies]]
        graph = """
 
            # Start things off with retries_test.
            # retry_test_task will fail, but will be resubmitted after a delay.
            # It will succeed on the third attempt.

            retries_test => retry_test_task

                """


[runtime]
    [[root]]
        command scripting = "echo Running on $(hostname) in $PWD; sleep 10"
        [[[job submission]]]
            method = at
        [[[event hooks]]]
            succeeded handler = "rose task-hook"
            failed handler = "rose task-hook"

    [[retry_test_task]]

        # The task will be allowed to fail and resubmit three times.
        # The delay between the failure and the resubmission will be
        # 0.1 minutes each time.

        retry delays = 0.1, 0.1, 0.1


        # The task will fail until CYLC_TASK_TRY_NUMBER == 3.

        command scripting = """
                            sleep 10
                            if (( CYLC_TASK_TRY_NUMBER < 3 )); then
                                bin/false
                            fi
                            """
