#!jinja2
[cylc]
    UTC mode = True
    [[event hooks]]
        timeout handler = rose suite-hook --shutdown
        timeout = 1
[scheduling]
    initial cycle point = 2013010100
    final cycle point   = 2013010200
    [[dependencies]]
        [[[ 0, 12 ]]]
            graph = """
my_task_1
my_task_2
"""

[runtime]
    [[root]]
        command scripting = echo Hello
        [[[event hooks]]]
            failed handler = rose suite-hook --shutdown --retrieve-job-logs
            submission failed handler = rose suite-hook --shutdown
            submission timeout handler = rose suite-hook
            execution timeout handler = rose suite-hook
            submission timeout = 1
            execution timeout = 1
{% if HOST is defined %}
        [[[remote]]]
            host = {{HOST}}
{% endif %}
    [[my_task_1]]
        [[[event hooks]]]
           succeeded handler = rose suite-hook --retrieve-job-logs
    [[my_task_2]]
