#!jinja2
[cylc]
    UTC mode = True
    [[event hooks]]
        timeout handler = "rose suite-hook --shutdown"
        timeout = 1
[scheduling]
    [[dependencies]]
        graph = """
my_task_1
"""

[runtime]
    [[root]]
        command scripting = """echo Hello \"{{WORLD}}\" 1>$CYLC_TASK_LOG_ROOT.txt"""
    [[my_task_1]]
