#!jinja2
[cylc]
    UTC mode = True
    [[events]]
        abort on timeout = True
        timeout = PT1M
[scheduling]
    [[dependencies]]
        graph = my_task_1

[runtime]
    [[my_task_1]]
        script = """echo Hello \"{{WORLD}}\" 1>$CYLC_TASK_LOG_ROOT.txt"""
