<!DOCTYPE html>


<head>
  <title><!-- TODO: Title --></title>
  <meta name="author" content="Rose Team, Met Office, UK" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="icon" href="../img/rose-icon.png" type="image/png" />
  <link rel="shortcut icon" href="../img/rose-icon.png" type="image/png" />
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../css/rose-doc.css" />
  <script type="text/javascript" src="../js/jquery.min.js"></script>
  <script type="text/javascript" src="../js/run_prettify.js"></script>
  <script type="text/javascript" src="../js/prettify-rose-conf.js"></script>
  <script type="text/javascript" src="../js/prettify-cylc-suite-rc.js"></script>
  <script type="text/javascript" src="../js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/rose-doc.js"></script>
  <script type="text/javascript" src="../js/rose-version.js"></script>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href=".">
          <span class="logo">
            Rose Documentation
          </span>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <span class="navbar-text">
              <span class="compliance">
                &#169; British Crown Copyright 2012-6
                <a href="http://www.metoffice.gov.uk">Met Office</a>.
                See <a href="../rose-terms-of-use.html">Terms of Use</a>.<br />
                This document is released under the
                <a href=
                "http://www.nationalarchives.gov.uk/doc/open-government-licence/"
                rel="license">Open Government Licence</a>.
              </span>
            </span>
          </li>
          <li>
            <span id="rose-version" class="navbar-text"></span>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">

              <!-- TODO: Content -->

          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
