#!jinja2
[cylc]
    UTC mode = True
    [[event hooks]]
        timeout handler = rose suite-hook --shutdown
        timeout = PT1M
[scheduling]
    cycling mode = integer 
    initial cycle point = 1
    final cycle point = 3
    [[dependencies]]
        [[[P1]]]
            graph = foo[-P1] => foo
[runtime]
    [[root]]
        [[[event hooks]]]
           succeeded handler = rose suite-hook
           failed handler = rose suite-hook --shutdown
           submission failed handler = rose suite-hook --shutdown
           submission timeout handler = rose suite-hook --shutdown
           execution timeout handler = rose suite-hook --shutdown
           submission timeout = PT10S
           execution timeout = PT30S
    [[foo]]
        environment scripting = eval $(rose task-env -T P1 -T __P5)
        command scripting = rose task-run -v

