#!jinja2
[cylc]
UTC mode=True
    [[event hooks]]
        timeout handler=rose suite-hook --shutdown
        timeout=PT30S
        abort on timeout=False

[scheduling]
    [[dependencies]]
        graph="""
          rose_ana_t1 # basic
          rose_ana_t2_activated:fail => rose_ana_t2_deactivated
          rose_ana_t1:fail & rose_ana_t2_deactivated => db_check
        """

[runtime]
    [[rose_ana_t1]]
        command scripting = rose task-run -v -v --debug

    [[rose_ana_t2_activated]]
        command scripting = rose task-run -v -v --debug --app-key=rose_ana_t2

    [[rose_ana_t2_deactivated]]
        command scripting = rose task-run -v -v --debug --app-key=rose_ana_t2 --opt-conf-key=deactivate

    [[db_check]]
        command scripting = rose task-run -v -v --debug
