#!jinja2
[cylc]
UTC mode=True
    [[event hooks]]
        timeout handler=rose suite-hook --shutdown
        timeout=5

[scheduling]
    [[dependencies]]
        graph="""
          rose_ana_t1 # basic
          rose_ana_t2_activated:fail => rose_ana_t2_deactivated 
        """

[runtime]
    [[root]]
        command scripting=rose task-run -v -v --debug
        [[[event hooks]]]
            succeeded handler=rose suite-hook
            failed handler=rose suite-hook --shutdown
            submission failed handler=rose suite-hook --shutdown

    [[rose_ana_t1]]

    [[rose_ana_t2_activated]]
        command scripting = rose task-run -v -v --debug --app-key=rose_ana_t2

    [[rose_ana_t2_deactivated]]
        command scripting = rose task-run -v -v --debug --app-key=rose_ana_t2 --opt-conf-key=deactivate
