#!jinja2
[cylc]
    UTC mode = True
    abort if any task fails = True
    [[events]]
        abort on timeout = True
        timeout = PT1M
[scheduling]
    [[dependencies]]
        graph = my_task_1

[runtime]
    [[my_task_1]]
        script = echo 'Hello World' >"${CYLC_TASK_LOG_ROOT}.txt"
        [[[remote]]]
            host = `rose host-select {{HOST}}`
        [[[job]]]
           execution time limit = PT1M
        [[[events]]]
           succeeded handler = rose suite-hook --retrieve-job-logs
