#!jinja2
[cylc]
    UTC mode = True
    [[event hooks]]
        timeout handler = rose suite-hook --shutdown
        timeout = PT1M
[scheduling]
    initial cycle point = 20130101T00Z
    final cycle point = 20130101T00Z
    [[dependencies]]
        [[[T00]]]
            graph = my_task_1

[runtime]
    [[my_task_1]]
        command scripting = true
