#!jinja2
[cylc]
    UTC mode=True
    abort if any task fails = True
    [[events]]
        abort on timeout = True
        timeout=PT2M
[scheduling]
    initial cycle point=20130101T00Z
    final cycle point=20130102T12Z
    [[dependencies]]
        [[[T00, T12]]]
            graph=my_task_1

[runtime]
    [[my_task_1]]
        script = """
I=0
OLD_I=
while [[ ! -e $CYLC_SUITE_RUN_DIR/flag ]]; do
    sleep 1
    ((++I))
    if [[ -n $OLD_I ]]; then
        echo -n $(tr '[:print:]' '\b' <<<"$OLD_I")
    fi
    echo -n $I
    OLD_I=$I
done
echo
"""
        [[[job]]]
            execution time limit = PT1M
