#!jinja2
[cylc]
    UTC mode=True
    [[event hooks]]
        timeout handler=rose suite-hook --shutdown
        timeout=2
[scheduling]
    initial cycle point=2013010100
    final cycle point=2013010212
    [[dependencies]]
        [[[ 0, 12 ]]]
            graph=my_task_1

[runtime]
    [[root]]
        command scripting = """
I=0
OLD_I=
while [[ ! -e $CYLC_SUITE_RUN_DIR/flag ]]; do
    sleep 1
    ((++I))
    if [[ -n $OLD_I ]]; then
        echo -n $(tr '[:print:]' '\b' <<<"$OLD_I")
    fi
    echo -n $I
    OLD_I=$I
done
echo
"""
        [[[event hooks]]]
           succeeded handler=rose suite-hook
           failed handler=rose suite-hook --shutdown
           submission failed handler=rose suite-hook --shutdown
           submission timeout handler=rose suite-hook
           execution timeout handler=rose suite-hook
           submission timeout=1
           execution timeout=1
    [[my_task_1]]
