name: test rsync check

on:
  pull_request:
    paths:
      - 'metomi/rose/loc_handlers/rsync.py'
      - 'metomi/rose/loc_handlers/rsync_remote_check.py'
      - '.github/workflows/test_rsync_test_script.yml'
  workflow_dispatch:
    inputs:
      rose_ref:
        description: The Rose branch to test against
        required: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest']
        python-version: [
          '2.7',
          '3.5', '3.6', '3.7', '3.8', '3.9',
          '3.12', '3'
        ]

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.inputs.rose_ref || github.sha }}
          path: rose

      - name: Configure Python
        id: configure-py
        uses: actions/setup-python@v5
        continue-on-error: true
        with:
          python-version: ${{ matrix.python-version }}

      - name: Setup Mamba
        if: steps.configure-py.outcome == 'failure'
        uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: ${{ matrix.python-version }}
          mamba-version: '*'
          channels: conda-forge

      - name: Unit Tests
        working-directory: rose
        # use login shell for conda activation
        shell: bash -leo pipefail {0}
        run: |
          prove -vv t/rose-loc-handlers/test_rsync_loc_handlers.t
