#!jinja2
[cylc]
    UTC mode=True
    abort if any task fails=True
[scheduling]
    initial cycle point=1970
    final cycle point=1990
    [[dependencies]]
        [[[R1]]]
            graph="t1"
        [[[R1/^+P10Y]]]
            graph="t2"
        [[[R1/^+P20Y]]]
            graph="t1[-P20Y] & t2[-P10Y] => pruner"

[runtime]
    [[T]]
        script="""
eval $(rose task-env)
echo "Whatever!" >"${ROSE_DATAC}/${ROSE_TASK_NAME}.txt"
"""
    [[t1]]
        inherit = T
        [[[remote]]]
            host = {{JOB_HOST_1}}
    [[t2]]
        inherit = T
        [[[remote]]]
            host = {{JOB_HOST_2}}
    [[pruner]]
        script="""
rose task-run -v -v --debug | tee -a "${CYLC_SUITE_RUN_DIR}/prune.log"
"""
